// Here you can add other styles

$colors: (
    violet: #b224ef,
    purple: #7579FF,
    white: #FFFFFF,
    black: #1B1C37,
    purple-light: #EDEEFF,
    black-light: #5F6073,
    purple-grad: linear-gradient(right, #b224ef, #7579FF),
    orange: #FF8718,
    green: #2B9F5A,
    yellow: #FFD018,
    dark-green: #B2A46A,
    
);

.tag-grant {

}