// Here you can add other styles
@use "sass:map";

$colors: (
    violet: #b224ef,
    purple: #7579FF,
    white: #FFFFFF,
    black: #1B1C37,
    purple-light: #EDEEFF,
    black-light: #5F6073,
    purple-grad: linear-gradient(right, #b224ef, #7579FF),
    orange: #FF8718,
    green: #2B9F5A,
    yellow: #FFD018,
    dark-green: #B2A46A,
    
);

img.navbarIcon {
    max-width: 20px;
    max-height: 20px;
    margin-right: 10px;
}

.sidebar-nav .nav-title{
    font-size: 15px;
    color: map.get($colors, white);
    text-transform: none;
}


.sidebar-nav .nav-link.active  {
    background-color: map.get($colors, purple);
    border-radius: 5px;
    height: 30px;
}

.nav-link{
    font-size: 15px;
    color: map.get($colors, white);
    height: 36px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
}

.sidebar {
    background-color: map.get($colors, black);
}

img.sidebar-logo-full {
    width: 80%;
}

.text-with-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.lorge-col {
    width: 200px;
    max-width: 200px;
}

.smol-col {
    width: 150px;
    max-width: 150px;
}

.tags-col {
    min-width: 200px;
}

a.etherscan-link {
    
}

img.tx-coin-img {
    max-width: 30px;
    max-height: 30px;
}

.tag-in-table{
    height: 40px;
    align-items: center;
    background-color: map.get($colors, green);
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
}

.cointainer-lg {
    background-color: map.get($colors, black-light);
}

.table-responsive {
    // background-color: map.get($colors, black-light);
}